* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #011329;
}

#logo {
    width: 175px;
}

#home {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    padding-bottom: 2px;
    position: relative; 
    transition: .5s;
}

#home::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #466385;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#home:hover {
    color: #eaeaea;
    transform: scale(1.1);
    transition: .5s;
}

#home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#cont1 {
    background-image: url('imagens/bg-header.svg');
    color: aliceblue;
    text-align: center;
    padding: 30px;
    height: 900px;
}

#cont1 h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 10%;
    margin-top: 2%;
}

#presentation {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: start;

}

#presentation div {
    text-align: justify;
    font-size: 36px;
    font-weight: 500;
}

#presentation div p {
    margin-bottom: 8%;
    margin-left: 2%;
}

.btn-container{
    display: flex;
    margin: 3% 20% 3% 20%;
    width: 65%;
    margin-bottom: 60px
}

.btn {
    padding: 10px 40px;
    background: #A4BA25;
    color: #3C3D50;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Roboto Condensed';
    cursor: pointer;
    transition: .6s;
}

.btn:hover {
    background: #3C3D50;
    transform: scale(1.1); 
    transition: .6s; 
    color: white;
    text-decoration: underline;
}


#cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #E2E0DC;
}

#sectionHeader{
    display: flex;
    align-items: start;
}

#perfil-cont2{
   padding: 50px;
   height: 10%;
   width: 15%;
}

section h2{
    font-size: 48px;
    font-weight: 700;
    margin: 10% 5% 5% 5%;
}

section h3{
    font-size: 40px;
    font-weight: 600;
    
  
}

#cards{
    width: 80%;
    margin: 0 auto;
    font-size: 28px;
}

.titulo-cards{
    font-weight: bold;
    font-family: 'Roboto Condensed';
    text-decoration:underline;
    margin-right: 10px;
    margin-bottom: 20px;
}
.img-cards{
    margin-left: 2%;
}

#card1{
    display: flex;
    justify-content: end;
    margin-bottom: 3%;
    margin-top: 5%;
}

#card2{
    display: flex;
    justify-content: start;
    margin-bottom: 5%;
}

#card3{
    display: flex;
    justify-content:end;
    margin-bottom: 5%;
}

#card4{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

#cont3{
    background: linear-gradient(180deg, #466385 0%, #011329 100%);
    color: rgba(255, 255, 255, 1);

}

#conheca{
    display: flex;
    margin: auto;
    justify-content: space-around;   
}

#cont3 h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 5%;
    
}

#imagemConheca{
    height: 700px;
    margin-left: 2%;
}

#informativoConheca{
    text-align: justify;
    font-size: 32px;
    font-weight: 500;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 10%;
}

#titulo-cont3{
    text-align: center;
    font-size: 48px;
    padding: 60px 0;
    font-family: 'Roboto Condensed';
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.card label {
    display: block;
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 600;
    color: #233B57;
}

.card input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto Condensed';
}

#formBasico h3{
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #233B57;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
/* #formAvancado{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
}

#formBasico{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
} */

#btn-form {
    margin-top: 5%;
    margin-bottom: 5%;
}

#formBotao{
    display: flex;
    justify-content: center;
}

/* Respansividade para telas menores*/

@media(max-width: 1323px){
    
    section h2{
        font-size: 30px;
        margin-bottom: 70px;
    }
    
    section h3{
        font-size: 30px;
        font-weight: 500;
    }
    
    #cards{
        width: 85%;
        margin: 0 auto;
        font-size: 20px;
    }
}


@media(max-width: 1184px){
    #presentation p {
        font-size: 25px;
       
    }

    #video-header iframe {
        height: 220px;
        width: 400px;
    }

    section h2{
        font-size: 30px;
        margin-bottom: 70px;
    }
    
    section h3{
        font-size: 30px;
        font-weight: 500;
    }
    
    #cards{
        width: 95%;
        margin: 0 auto;
    
        font-size: 20px;
    }
}

/* Respansividade para mobaile*/
@media(max-width: 990px){
    #logo {
        width: 100px;
    }

    #home {
        font-size: 15px;
    }
    
    #cont1 h1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 60px;
    }
    

    #presentation p {
        font-size: 20px;
        text-align: start;
    }

    #video-header iframe {
        height: 200px;
        width: 350px;
    }

    #btn-container {
        margin-top: 20px;
        margin-bottom: 20px
    }

    #cont2{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    
    #perfil-cont2{
        height: 120px;
        margin-right: 20px;
    }

    #sectionHeader{
        display: flex;
        align-items: center;
    }

    
    section h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    section h3{
        font-size: 15px;
        font-weight: 500;
    }
    
    #cards{
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
    }

}

/* Respansividade para mobaile*/
@media(max-width: 786px) {
    #logo {
        width: 100px;
    }

    #home {
        font-size: 15px;
    }
    
    #cont1 h1 {
        font-size: 24px;
        line-height: 30px;
        text-align: start;
        margin-bottom: 60px;
    }
    
    #presentation {
        flex-direction: column;
    }

    #presentation p {
        font-size: 15px;
        text-align: start;
    }

    #video-header iframe {
        height: 200px;
        width: 250px;
    }

    #btn-container {
        margin-top: 20px;
        margin-bottom: 20px
    }

    #cont2{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    
    #perfil-cont2{
        height: 120px;
        margin-right: 20px;
    }

    #sectionHeader{
        display: flex;
        align-items: center;
    }

    
    section h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    section h3{
        font-size: 15px;
        font-weight: 500;
    }
    
    #cards{
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
    }

    #cards img{
        width: 50px;
    }
    
    #card1{
        justify-content: center;
    }
    
    #card2{
        justify-content: center;
    }
    
    #card3{
        justify-content: center;
    }
    
    #card4{
        justify-content: center;
    }

    #formBasico,
    #formAvancado {
        width: 90%;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    #titulo-cont3{
        font-size: 30px;
    }
    
    
    form{
        padding-bottom: 50px;
    }
    
    label{
        font-size: 15px;
    }
    
    input{
        font-size: 15px;
    }    

}