/* Estilo para o index.html*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #011329;
}

#logo {
    width: 175px;
}

#home {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    padding-bottom: 2px;
    position: relative; 
    transition: .5s;
}

#home::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #466385;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#home:hover {
    color: #eaeaea;
    transform: scale(1.1);
    transition: .5s;
}

#home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#cont1 {
    background-image: url('imagens/bg-header.svg');
    color: aliceblue;
    text-align: center;
    padding: 30px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#titulo-header {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 2%;
    margin-bottom: 8%;
}

#presentation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
} 

 #presentation div {
    text-align: left;
    font-size: 32px;
    font-weight: 400;
}

#presentation div p {
    margin-bottom: 15%;
} 

#video-header {
    margin-left: 20px;
}

.btn-container{
    margin-top: 20px;
}

.btn {
    padding: 10px 40px;
    background: #A4BA25;
    color: #3C3D50;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Roboto Condensed';
    cursor: pointer;
    transition: .6s;
    text-decoration: none;
}


.btn:hover {
    background: #3C3D50;
    transform: scale(1.1); 
    transition: .6s; 
    color: white;
    text-decoration: underline;
}


#cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #E2E0DC;
}

#sectionHeader{
    display: flex;
    align-items: start;
}

#perfil-cont2{
   padding: 50px;
   height: 10%;
   width: 15%;
}

section h2{
    font-size: 48px;
    font-weight: 700;
    margin: 10% 5% 5% 5%;
}

section h3{
    font-size: 40px;
    font-weight: 600;  
}

#cards{
    width: 80%;
    margin: 0 auto;
    font-size: 28px;
}

.titulo-cards{
    font-weight: bold;
    font-family: 'Roboto Condensed';
    text-decoration:underline;
    margin-right: 10px;
    margin-bottom: 20px;
}
.img-cards{
    margin-left: 2%;
}

#card1{
    display: flex;
    justify-content: end;
    margin-bottom: 3%;
    margin-top: 5%;
}

#card2{
    display: flex;
    justify-content: start;
    margin-bottom: 5%;
}

#card3{
    display: flex;
    justify-content:end;
    margin-bottom: 5%;
}

#card4{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

#cont3{
    background: linear-gradient(180deg, #466385 0%, #011329 100%);
    color: rgba(255, 255, 255, 1);
    padding: 5% 0;
    margin-top: -40px;
}

#conheca{
    display: flex;
    margin: auto;
    justify-content: space-around;   
    align-items: center;
    flex-wrap: wrap;
}

#cont3 h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 12px;
    
}

#imagemConheca{
    height: 700px;
    margin-left: 0 2%;
}

#informativoConheca{
    text-align: justify;
    font-size: 32px;
    font-weight: 400;
    margin: 12% 2% 10% 2%;
}

#titulo-cont3{
    text-align: center;
    font-size: 48px;
    padding: 60px 0;
    font-family: 'Roboto Condensed';
    margin-bottom: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-bottom: 10%;

    display: none;
}

.card.active {
    display: block;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card label {
    display: block;
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 600;
    color: #233B57;
}

.card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto Condensed';
}

.card h3{
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: #233B57;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.prev-btn, .next-btn {
    background-color: #A4BA25;
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 8px; 
    font-size: 16px; 
    font-weight: 400; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.prev-btn:hover, .next-btn:hover {
    background-color: #8AA020; 
}

#btn-form {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

footer{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.custom-textarea {
    width: 100%; 
    max-width: 100%; /* Garante que não ultrapasse a largura do contêiner */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}


/* Respansividade para telas menores*/

@media(max-width: 1323px){
    
    section h2{
        font-size: 30px;
        margin-bottom: 70px;
    }
    
    section h3{
        font-size: 30px;
        font-weight: 500;
    }
    
    #cards{
        width: 85%;
        margin: 0 auto;
        font-size: 20px;
    }

    #cont3 h1 {
        font-size: 40px;
        padding-bottom: 30px;
    }

    #imagemConheca {
        height: 500px;
    }

    #informativoConheca {
        font-size: 28px;
    }
}


@media(max-width: 1184px){
    #presentation {
        flex-direction: column;
        align-items: center;
    }

    #video-header {
        margin-bottom: 20px;
    }

    #presentation div {
        text-align: center;
        font-size: 25px;
    }

    #presentation div p {
        margin-left: 0;
    }

    .btn-container {
        width: 80%;
        text-align: center;
    }

    .btn {
        width: 100%;
        padding: 15px 0;
    }

    #presentation p {
        font-size: 25px;
       
    }

    #video-header iframe {
        height: 220px;
        width: 400px;
    }

    section h2{
        font-size: 30px;
        margin-bottom: 70px;
    }
    
    section h3{
        font-size: 30px;
        font-weight: 500;
    }
    
    #cards{
        width: 95%;
        margin: 0 auto;
    
        font-size: 20px;
    }

    #cont3 h1 {
        font-size: 36px;
        padding: 5%;
    }

    #imagemConheca {
        height: 500px;
    }

    #informativoConheca {
        font-size: 28px;
    }
}


/* Respansividade para mobaile*/
@media(max-width: 990px){
    #logo {
        width: 100px;
    }

    #home {
        font-size: 15px;
    }
    
    #cont1 h1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 60px;
    }
    

    #presentation p {
        font-size: 20px;
        text-align: start;
    }

    #video-header iframe {
        height: 200px;
        width: 350px;
    }

    #btn-container {
        margin-top: 20px;
        margin-bottom: 20px
    }

    #cont2{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    
    #perfil-cont2{
        height: 120px;
        margin-right: 20px;
    }

    #sectionHeader{
        display: flex;
        align-items: center;
    }

    
    section h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    section h3{
        font-size: 15px;
        font-weight: 500;
    }
    
    #cards{
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
    }

    #conheca {
        flex-direction: column;
    }

    #imagemConheca {
        height: auto;
        width: 90%;
        margin: 0 auto 20px auto;
    }

    #informativoConheca {
        font-size: 24px;
        margin: 0 auto;
        width: 90%;
    }

    #cont3 h1 {
        font-size: 30px;
        padding: 20px 0;
    }

}

/* Respansividade para mobaile*/
@media(max-width: 786px) {
    #titulo-header {
        font-size: 24px;
        line-height: 30px;
    }

    #presentation div {
        font-size: 20px;
    }

    #video-header iframe {
        width: 100%;
        height: auto;
    }

    #logo {
        width: 100px;
    }

    #home {
        font-size: 15px;
    }
    
    #cont1 h1 {
        font-size: 24px;
        line-height: 30px;
        text-align: start;
        margin-bottom: 60px;
    }
    
    #presentation {
        flex-direction: column;
    }

    #presentation p {
        font-size: 15px;
        text-align: start;
    }

    #video-header iframe {
        height: 200px;
        width: 250px;
    }

    #btn-container {
        margin-top: 20px;
        margin-bottom: 20px
    }

    #cont2{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    
    #perfil-cont2{
        height: 120px;
        margin-right: 20px;
    }

    #sectionHeader{
        display: flex;
        align-items: center;
    }

    
    section h2{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    section h3{
        font-size: 15px;
        font-weight: 500;
    }
    
    #cards{
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
    }

    #cards img{
        width: 50px;
    }
    
    #card1{
        justify-content: center;
    }
    
    #card2{
        justify-content: center;
    }
    
    #card3{
        justify-content: center;
    }
    
    #card4{
        justify-content: center;
    }

    #formBasico,
    #formAvancado {
        width: 90%;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    #titulo-cont3{
        font-size: 30px;
    }
    
    
    form{
        padding-bottom: 50px;
    }
    
    label{
        font-size: 15px;
    }
    
    input{
        font-size: 15px;
    }    

    #conheca {
        flex-direction: column;
    }

    #imagemConheca {
        height: auto;
        width: 80%; 
        margin: 0 auto 20px auto;
    }

    #informativoConheca {
        font-size: 24px;
        margin: 0 auto;
        width: 80%; 
    }

    #cont3 h1 {
        font-size: 30px;
        padding: 20px 0;
    }

}

/* Estilos para a página de login */

#login-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: #f0f0f0;
}

#login-form {
    background: #fff;
    width: 100%;
    max-width: 400px;
}

#login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

#login-form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #011329;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #466385;
}

#login-form p {
    margin-top: 10px;
}

#login-form a {
    color: #011329;
    text-decoration: none;
}

#login-form a:hover {
    text-decoration: underline;
}

/* Responsividade para telas menores */

@media (max-width: 1323px) {
    #login-form h2 {
        font-size: 22px;
    }
}

@media (max-width: 1184px) {
    #login-form {
        padding: 20px;
    }

    #login-form h2 {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    #login-form {
        padding: 15px;
    }

    #login-form h2 {
        font-size: 18px;
    }

    #login-form button {
        font-size: 14px;
    }

    #login-form label,
    #login-form input {
        font-size: 14px;
    }
}

@media (max-width: 786px) {
    #login-form {
        padding: 10px;
    }

    #login-form h2 {
        font-size: 16px;
    }

    #login-form button {
        font-size: 12px;
    }

    #login-form label,
    #login-form input {
        font-size: 12px;
    }
}

/* Estilos para a dashboard */

#dashboard-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #011329; 
    width: 100%;
    border-radius: 8px;
}

#header img {
    max-width: 150px;
}

#header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

#header nav a:hover {
    color: #ccc;
}

#main {
    padding: 20px 0;
}

#main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

#overview {
    margin-bottom: 40px;
}

#overview h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#recommendations{
    margin-bottom: 40px;
}

#recommendations h2{
    font-size: 3rem;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 40px;
}

thead th {
    white-space: nowrap;
}

tbody td {
    white-space: nowrap;
}

.table-responsive {
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f4f4f4;
}

/* Responsividade para telas menores */

@media (max-width: 1323px) {
    #header nav a {
        font-size: 16px;
        margin-left: 15px;
    }

    #main h1 {
        font-size: 2rem;
    }

    #overview h2 {
        font-size: 1.75rem;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 1184px) {
    #header img {
        max-width: 120px;
    }

    #header nav a {
        font-size: 14px;
        margin-left: 10px;
    }

    #main h1 {
        font-size: 1.75rem;
    }

    #overview h2 {
        font-size: 1.5rem;
    }

    th, td {
        padding: 6px;
    }
}

@media (max-width: 990px) {
    #header img {
        max-width: 100px;
    }

    #header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header nav a {
        font-size: 14px;
        margin: 5px 0;
    }

    #main h1 {
        font-size: 1.5rem;
    }

    #overview h2 {
        font-size: 1.25rem;
    }

    th, td {
        font-size: 14px;
        padding: 5px;
    }
}

@media (max-width: 786px) {
    #header img {
        max-width: 80px;
    }

    #header nav a {
        font-size: 12px;
        margin: 3px 0;
    }

    #main h1 {
        font-size: 1.25rem;
    }

    #overview h2 {
        font-size: 1rem;
    }

    th, td {
        font-size: 12px;
        padding: 4px;
    }
}

